body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #434976;
    color: #EDEDED;
}

#controls {
    width: 200px;
    background: rgba(67, 73, 118, 0.8);
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    color: #EDEDED;
}

#country-list {
    display: flex;
    flex-direction: column;
}

#country-list label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #434976;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#country-list label:hover {
    background-color: #626890;
}

#country-list input[type="checkbox"] {
    display: none;
}

#country-list input[type="checkbox"] + span {
    display: flex;
    align-items: center;
    width: 100%;
}

#country-list input[type="checkbox"] + span:before {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: #EDEDED;
    border: 2px solid #434976;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
}

#country-list input[type="checkbox"]:checked + span:before {
    background-color: #8B93B3;
    border-color: #8B93B3;
}

#country-list input[type="checkbox"]:checked + span {
    color: #EDEDED;
    background-color: #8B93B3;
    border-radius: 5px;
}

#graph-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #626890;
}

#graph {
    width: 100%;
    height: 100%;
}

#home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(67, 73, 118, 0.8);
    border: 1px solid #EDEDED;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    color: #EDEDED;
}

#home-button:hover {
    background-color: #626890;
}

#legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(67, 73, 118, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    color: #EDEDED;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item div:first-child {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

button {
    background-color: #434976;
    color: #EDEDED;
    border: 1px solid #EDEDED;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #626890;
}
