html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #626890;
    --secondary-bg-color: #434976;
    --text-color: #EDEDED;
    --border-color: #8B93B3;
    --progress: #2b928e;
}

:root.dark-mode {
    --main-bg-color: #2A2A2A;
    --secondary-bg-color: #0A0A0A;
    --text-color: #D6D6D6;
    --border-color: #828384;
    --progress: #77815C;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 30% 65% 5%;
    grid-template-rows: 100%;
    align-items: center;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    height: 128px;
    padding: 0 32px;
    margin: 0;
}

header div.logo {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 32px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    margin-right: auto;
    padding: 2px;
}

header div.logo:hover {
    filter: brightness(1.25);
}

header div.logo svg {
    height: 64px;
    width: 32px;
    padding: 2px;
} 

header div.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    user-select: none;
    color: inherit;
    padding: 2px;
    width: 100%;
    height: 100%;
}

header nav {
    margin-right: auto;
    justify-self: center;
    border-radius: 32px;
}

header nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    height: 64px;
    display: flex;
    justify-content: center;
    margin: 0 8px;
}

header nav li:first-child {
    margin-right: auto;
}

header nav ul li a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 16px;
}

header nav ul li a:hover {
    filter: brightness(1.5);
}

header nav ul.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 256px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

header nav ul.sidebar li {
    width: 100%; 
}

header nav ul.sidebar li a {
    width: 100%; 
}

header nav ul.sidebar li a:hover {
    filter: opacity(0.5);
}

header nav ul.sidebar li button#mode-toggle-sidebar {
    background-color: var(--secondary-bg-color);
    border: none;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
}

header nav ul.sidebar li button#mode-toggle-sidebar svg#mode-icon-sidebar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

header nav ul.sidebar li button#mode-toggle-sidebar svg#mode-icon-sidebar.sun {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FDB813" viewBox="0 0 24 24"><path d="M6.76 4.84l-1.41-1.41-2.12 2.12 1.41 1.41zM1 13H5v-2H1zm9 8c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm0-12c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-2V1h-2v4zm8.24 2.41l2.12-2.12-1.41-1.41-2.12 2.12zM23 11v2h-4v-2zm-2.24 9.41l2.12 2.12 1.41-1.41-2.12-2.12zM13 23h2v-4h-2zm-9.93-2.93l1.41 1.41 2.12-2.12-1.41-1.41zM3 13h4v-2H3z"/></svg>');
}

header nav ul.sidebar li button#mode-toggle-sidebar svg#mode-icon-sidebar.moon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FFF" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10h-2c0 4.42-3.58 8-8 8s-8-3.58-8-8 3.58-8 8-8v2c3.31 0 6 2.69 6 6s-2.69 6-6 6c-3.31 0-6-2.69-6-6H2c0 5.52 4.48 10 10 10s10-4.48 10-10S17.52 2 12 2z"/></svg>');
}

header nav ul li.menu-button {
    display: none;
}

header button#mode-toggle {
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
}

header button#mode-toggle svg#mode-icon {
    margin-left: auto;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

header button#mode-toggle svg#mode-icon:hover {
    transform: scale(1.3) rotate(15deg);
}
header button#mode-toggle svg#mode-icon.sun {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FDB813" viewBox="0 0 24 24"><path d="M6.76 4.84l-1.41-1.41-2.12 2.12 1.41 1.41zM1 13H5v-2H1zm9 8c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm0-12c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-2V1h-2v4zm8.24 2.41l2.12-2.12-1.41-1.41-2.12 2.12zM23 11v2h-4v-2zm-2.24 9.41l2.12 2.12 1.41-1.41-2.12-2.12zM13 23h2v-4h-2zm-9.93-2.93l1.41 1.41 2.12-2.12-1.41-1.41zM3 13h4v-2H3z"/></svg>');
}

header button#mode-toggle svg#mode-icon.moon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FFF" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10h-2c0 4.42-3.58 8-8 8s-8-3.58-8-8 3.58-8 8-8v2c3.31 0 6 2.69 6 6s-2.69 6-6 6c-3.31 0-6-2.69-6-6H2c0 5.52 4.48 10 10 10s10-4.48 10-10S17.52 2 12 2z"/></svg>');
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    align-items: center;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    padding: 0 32px;
    overflow: hidden;
    height: 32px;
}

footer span {
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

footer span a {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--secondary-bg-color);
    padding: 4px 4px;
}

footer span a:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer ul {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
    flex-wrap: wrap;
}

footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li a {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--secondary-bg-color);
    padding: 4px 4px;
}

footer ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1024px) {
    header {
        grid-template-columns: 1fr auto;
        height: 64px;
        padding: 0 16px;
        margin: 0;
    }
    header div.logo {
        transform: scale(0.7);
        transform-origin: left center;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    footer {
        display: none;
    }
}